/* Styles For The Login Page */
.inpPadding{
    margin-bottom: 5px;
}

#loginForm{
    background-color: white;
    padding: 10px;
    border: grey solid;
    border-radius: 15px;
}

#btnLogin{
    width: 80%;
}