.background{
    background-color: white;
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}
td{
    background-color: #DAE8FC;
    color: black;
}

thead{
    background-color: #5a5aff;
    color: white;
}

.name{
    width: 40%;
}

.chores{
    width: 30%;
}

.points{
    width: 30%;
}

button{
    margin: 10px;
}

